* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

a {
  padding-right: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

nav :hover {
  border-bottom: 5px solid red;
  padding: 5px;
}


